body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .40rem .40rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .2rem;
}

.nav {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.nav img {
  height: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  margin: 1rem;
  padding: 1rem;
}

.table-text {
  color: red;
  font-weight: bold;
}

.dashboard-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dashboard-nav img {
  height: 100px;
}